body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.card img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}
.card img[src$=".svg"] {
  object-fit: contain;
  padding: 10px;
  background-color: #fff;
}
#menu-filtros .btn.active {
  background-color: #0d6efd;
  color: white;
}

.show {display:block;}